@use './partials/variables' as *;


$fa-font-path: '../fonts/webfonts';   

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';


@import 'bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* general styles */
body {
    font-family: $basefont;
    background-color: $primary-color;
    color: $text-color;

    a {
        text-decoration: none;
        color: $text-color;
    }

    ul {
        list-style-type: none;
    }

    .scrolled{
        background-color: blue !important;
        transition: all 0.5s;
    }
}

#app {
    height: 100vh;
    width: 100%;
}

