@use './partials/variables' as *;


$fa-font-path: '../fonts/webfonts';   

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';


@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

body {
    font-family: $base-font;
    background-color: $primary-color;
    color: $text-color;

    a {
        text-decoration: none;
        color: $text-color;
    }

    ul {
        list-style-type: none;
    }

    .scrolled{
        background-color: blue !important;
        transition: all 0.5s;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $title-font;
    }
}


/* Per Webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 15px; /* Larghezza della scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent; /* Sfondo trasparente per la track */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ffc988;
    border: 2px solid transparent; /* Bordo del thumb */
    background-clip: padding-box; /* Per mantenere il bordo */
    border-radius: 10px; /* Arrotondamento degli angoli */
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #ffbd6c; /* Colore del thumb quando si passa sopra con il mouse */
  }
#app {
    height: 100vh;
    width: 100%;
}
img {
    width: 100%;
  }

  div.changeQuantity {
    button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $primary-color-2;
        background-color: $primary-color;
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease-in-out;
        &.changePlus {
            color: $tertiary-color;
        }
        &.changeMinus {
            color: $secondary-color;
        }
        &:hover {
            background-color: $primary-color-2;
        }
    }
  }

